<div class="form-group">
    <label for="auteur">Auteur</label>
    <input type="text" name="auteur" id="auteur" class="form-control" 
      placeholder="Entrez le nom du auteur"
      value="<%= typeof auteur != 'undefined' ? auteur : '' %>" >
</div>