<div class="form-group">
    <label for="resume">resume</label>
    <textarea class="form-control" id="resume" name="resume" rows="3" placeholder="Entrez le resume"
    value="<%= typeof resume != 'undefined' ?resume : '' %>">
</textarea>
   
</div>