<div class="form-group">
    <label for="nomImage">Image</label>
    <input type="text" name="nomImage" id="nomImage" class="form-control" 
      placeholder="Entrez l'Url de l'image"
      value="<%= typeof nomImage != 'undefined' ? nomImage : '' %>" >
</div>

