<div class="form-group">
    <label for="titreLivre">Titre</label>
    <input type="text" name="titreLivre" id="titreLivre" class="form-control" 
      placeholder="Entrez le nom du livre"
      value="<%= typeof titreLivre != 'undefined' ? titreLivre : '' %>" >
</div>