<div class="form-group">
    <label for="editeur">editeur</label>
    <input type="text" name="editeur" id="editeur" class="form-control" 
      placeholder="Entrez le nom du editeur"
      value="<%= typeof editeur != 'undefined' ? editeur : '' %>" >
</div>