<div class="form-group">
    <label for="nbPages">nbPages</label>
    <input type="number" name="nbPages" id="nbPages" class="form-control" 
      placeholder="Entrez le nombre de pages "
      value="<%= typeof nbPages != 'undefined' ? nbPages : '' %>" >
</div>