<div class="form-group">
    <label for="date">date</label>
    <input type="date" name="date" id="date" class="form-control" 
      placeholder="Entrez la date"
      value="<%= typeof date != 'undefined' ? date : '' %>" >
</div>