<div class="form-group">
    <label for="langue">langues</label>
    <input type="text" name="langue" id="langue" class="form-control" 
      placeholder="Entrez les langues"
      value="<%= typeof langue != 'undefined' ? langue : '' %>" >
</div>