<div class="form-group">
    <label for="prix">prix</label>
    <input type="number" name="prix" id="prix" class="form-control" 
      placeholder="Entrez le prix "
      value="<%= typeof prix != 'undefined' ? prix : '' %>" >
</div>